/* You can add global styles to this file, and also import other style files */
@import './custom-theme.scss';
@import '~xterm/css/xterm.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snackbar {
    margin-top: 70px !important;
    --mdc-snackbar-container-color: green;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
}

.error-snackbar {
    margin-top: 70px !important;
    --mdc-snackbar-container-color: red;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
}

.mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
}

app-login-page {
    display: flex;
    flex: 1;
}