#container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-card {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    overflow: auto;

    .mat-mdc-card-header {
        align-items: center;
        justify-content: space-between;
    }

    mat-card-title {
        font-size: large;
    }

    mat-card-content {
        flex-grow: 1;
    }
}

mat-list-item {
    padding: 0;
}

.mdc-list {
    padding: 5px;
}

.list-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.list-container div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.list-container div:last-child {
    margin-bottom: 0;
}

.robot-id {
    font-weight: bold;
}

.action-buttons {
    display: flex;
    justify-content: center;
}

.button-adjust {
    height: var(--mdc-protected-button-container-height);
    box-shadow: var(--mdc-protected-button-container-elevation-shadow);
}

.locate-button {
    color: white;
    background-color: #ffb703;
}

.locate-all-button {
    color: #ffb703;
    text-decoration: underline;
    height: fit-content;
}

.action-buttons button {
    margin-right: 5px;
}

.action-buttons button:last-child {
    margin-right: 0;
}

.no-robots {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #9e9e9e;
    text-align: center;
}

.no-robots mat-icon {
    margin-right: 5px;
}