mat-card {
  font-family: 'Roboto', sans-serif;
  height: 100%;

  mat-card-title {
    font-size: large;
  }

  mat-card-content {
    flex-grow: 1;
    overflow: auto;
  }

  .info-table {
    width: 100%;
    border-collapse: collapse;

    td {
      padding: 8px;

      &:first-child {
        font-weight: 500;
      }
    }
  }
}