<mat-card>
  <mat-card-header>
    <mat-card-title>Information Système</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="info-table">
      <tr>
        <td>OS</td>
        <td>Ubuntu/ROS</td>
      </tr>
      <tr>
        <td>IPv4 (wlan0)</td>
        <td>192.168.2.52 (exemple)</td>
      </tr>
      <tr>
        <td>Utilisateur</td>
        <td>{{ user?.username }} {{ user?.isAdmin ? '(admin)' : ''}}</td>
      </tr>
      <tr>
        <td>Nom du robot</td>
        <td>Limo AgileX</td>
      </tr>
      <tr>
        <td>Cours</td>
        <td>INF3995</td>
      </tr>
      <tr>
        <td>Équipe</td>
        <td>106</td>
      </tr>
      <tr>
        <td>Version du software</td>
        <td>v1.0</td>
      </tr>
      <tr>
        <td>Version du hardware</td>
        <td>v1.0</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>